*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box !important;
}
body{
    height: 400vh;
    background-color: rgb(228, 228, 228);
} 
a,a.btn,.nav-link,button.btn,p{
    font-size: 18px;
    font-family: 'Noto Serif TC', serif;
}
a,.nav-link{
    color: orange;
}
a:hover,.nav-link:hover{
    color: rgb(224, 94, 46);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}
form input:focus,textarea:focus,select:focus{
    box-shadow: none !important;
}
textarea{
    resize: none !important;
}
/* ------------header start--------------------- */
header{
    height: 100vh;
    background-image:
    linear-gradient(rgba(29, 29, 29, 0.7), rgba(133, 131, 131, 0.3)),
    url(/css/img/reading_book.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

header h1{
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 3.1rem;
    color: white;
}

header div.text{
    position: absolute;
    top: 38%;
    left: 5%;
}

header button.btn{
    color: white;
    /* color: rgb(49, 49, 49); */
    background-color: orange;
    padding: 0.5rem 1rem;
    border-radius: 10px 2px 2px;
}
header ul li.active-link{
    border-radius: 10px !important;
    background-color: rgb(49, 49, 49) !important;
}

header nav.bg-color{
    background-color: rgb(240, 231, 208);
    box-shadow: 0 4px 2px -2px rgb(201, 199, 199);
}
/*---------------header end------------ */

/* -------main--------- */
main h2{
    margin-top: 9rem;
}
main img.carousel-img-style{
    width: 14.5%;
    height: auto;
    margin: 3rem 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
main i{
    font-size: 2.5rem;
    color: rgb(251, 165, 4);
}
main button.carousel-control-prev,main button.carousel-control-next{
    width: 2.5rem;
}
/* -------main end--------- */

/* ----------waypoint------------ */
/* ----------endWaypoint------------ */