*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box !important;
}
body{
    background-color: rgb(228, 228, 228);
} 
h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}
a,a.btn,.nav-link,button.btn,p{
    font-size: 18px;
    font-family: 'Noto Serif TC', serif;
}
a,.nav-link{
    color: orange;
}
a:hover,.nav-link:hover{
    color: rgb(224, 94, 46);
}
i{
    cursor: pointer;
}
form input:focus,textarea:focus,select:focus{
    box-shadow: none !important;
}
textarea{
    resize: none !important;
}
table{
    user-select: none;
}
th,td{
    text-align: center;
}
/* ------------header start--------------------- */
header{
    height: 100vh;
    background-image:
    linear-gradient(rgba(29, 29, 29, 0.7), rgba(133, 131, 131, 0.3)),
    url(/css/img/reading_book.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

header h1{
    text-shadow: 0.5px 0.5px 1px black;
    font-size: 3.1rem;
    color: white;
}

header div.text{
    position: absolute;
    top: 38%;
    left: 5%;
}

header button.btn{
    color: white;
    /* color: rgb(49, 49, 49); */
    background-color: orange;
    padding: 0.5rem 1rem;
    border-radius: 10px 2px 2px;
}
header ul li.active-link{
    border-radius: 10px !important;
    background-color: rgb(49, 49, 49) !important;
}

header nav.bg-color{
    background-color: rgb(240, 231, 208);
    box-shadow: 0 4px 2px -2px rgb(201, 199, 199);
}
/*---------------header end------------ */

/* -------main--------- */
main img.carousel-img-style{
    height: 300px;
    margin: 3rem 0rem;
    border-radius: 0.8rem;
}
.popularBooks, .recentUpload, .recentPopular{
    box-shadow: 0 5px 7px -2px rgb(201, 199, 199);
    margin-top: 9rem;
}
i{
    color: rgb(255, 166, 0);
}
main i{
    font-size: 2.5rem;
}
main button.carousel-control-prev,main button.carousel-control-next{
    width: 2.5rem;
}
.addCartButton, .orderButton{
    background-color: rgba(49, 49, 49,0.5)!important;
    color: white;

}
/* -------main end--------- */

/* ----------aside------------ */
aside{
    width: 27%;
    height: 100vh;
    background-color: rgb(255, 242, 216);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
}
aside.asideLeft{
    width: 73%;
    position: fixed;
    left: 0;
    background-color: black;
    opacity: 0.7;
}
aside a{
    text-decoration:none;
}
/* ----------end aside------------ */

/* ---------------author table--------------- */
div.author-table {
    height: 90vh;
    overflow-y: auto;
}